extends layout

block content
    .content
        .child
            .dummy
            .white
                .dummy &nbsp;
                h2= data.data.title
                //- return data
                table
                    tr
                        th No.
                        th(style='width: 50%;') 제목
                        th(style='width: 30%;') 작성자
                        th(style='width: 20%;') 작성일
                    tr(style='text-align: center;')
                        td= data.data.id
                        td= data.data.title
                        td
                            a(href=`/u/i/${data.data.writer}`)= data.data.nickname || data.data.writer
                        td= data.data.opts.wdate
                    tr
                        td(colspan=4)
                            hr(style='margin: 0;')
                    tr
                        td(colspan=4)= data.data.content
                .dummy &nbsp;
            .dummy